@import url('https://fonts.googleapis.com/css?family=Mandali&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap');

* {
  box-sizing: border-box;
}

body {
    font-family:'Source Sans Pro', sans-serif,
                'Mandali', sans-serif,
                'Montserrat', sans-serif;
}


/*Header styles*/

header h1 {
  font-weight: 100;
  color: white;
  font-size: 1.5em;
  margin:0;
  padding:1em;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

header strong, main strong {
  font-weight: 800;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

header ul {
  font-size: 0.8em;
  /*display: flex;
  float:right;*/
  margin: auto;
  overflow: auto;
  height:100%;
  vertical-align:middle;
}


header ul li{
  /*display: inline-block;*/
  text-align: center;
  padding: 0;
  margin: auto;
  overflow: auto;
}

header ul li:first-of-type{
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
  float:right;
  padding:10px;
}



header ul li:first-of-type:hover{
  opacity: 1;
  transform: scale(1.1) translate(-10px);
}

header ul li:first-of-type::after{
  content: "•";
  color: lightgreen;
  /*display: inline-block;*/
}

header ul li:nth-last-of-type(2){
border-left: black solid 0.3px;
/*width:40%;*/
}

header ul li:last-of-type{
  color: white;
  font-weight: 200;
}


header img {
  float: right;
  margin: auto;
  border-radius: 50%;
  height: auto;
  max-width: 40%;
  /*max-width: 60%;*/
}



/*Nav styles*/

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
  /*display: block;*/
  margin: auto;
  width: 23%;
  /*width: 70%;*/
  padding: 1em;
}

#dashboard {
  display:none;
}


/*Main styles*/


  /*Alert Message */

  #message {
  background-color: #7477bf;
  display: none;
  font-size: 0.8em;
  color: white;
  font-weight: 100;
  margin-top: 10px;
  padding: 10px;
}

#message span {
  background-color: #7477bf;
  color: inherit;
  border: none;
  float:right;
  font-weight: bold;
  font-size: 0.8em;
}

.closebtn {
  cursor: pointer;
}


/* SEARCH BAR */

.search_row h3 {
  height: 100%;
  padding: 23px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  /*display: inline-block;*/
  text-align: left;
  font-size: 1em;
  color: #8d8d8d;
  width: 20%;
  border-right: solid rgba(224, 224, 224, .8) 1px;
  border-top: solid rgba(224, 224, 224, .8) 1px;
}

.search_bar {
  vertical-align: top;
  background-color: #fbfbfb;
  height: 100%;
  width: 80%;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: right;
  border-bottom: solid rgba(224, 224, 224, .8) 1px;
}

#prompt {
  height: 22px;
  color: black;
  font-weight: 200;
  border: none;
  padding-right: 0;
  margin-right: 0;
  border-bottom: solid rgba(224, 224, 224, .8) 1px;
  border-left: solid rgba(224, 224, 224, .8) 1px;
  border-top: solid rgba(224, 224, 224, .8) 1px;
}

 .search_bar button {
  background-color: white;
  margin: 0;
  padding-top: 2px;
  line-height: 1;
  border-left: none;
  border-bottom: solid rgba(224, 224, 224, .8) 1px;
  border-right: solid rgba(224, 224, 224, .8) 1px;
  border-top: solid rgba(224, 224, 224, .8) 1px;
}

 .search_bar button:hover, .search_bar button:focus {
   background: #babbdf;
   border-radius: 2px;
 }


/* TRAFFIC LINE CHART */

.selected-data h3 {
  float: left;
  margin-left: 20px;
  text-transform:uppercase;
  font-size: 1em;
  color: #8d8d8d;
}

.selected-data ul {
  float:right;
  overflow: auto;
  margin-right: 20px;
  display: flex;
}

.selected-data li {
  list-style-type: none;
  /*display: inline-block;*/
  margin: auto;
}

.selected-data button {
    display: inline-block;
    border: none;
    text-decoration: none;
    background: inherit;
    color: #8d8d8d;
    cursor: pointer;
    font-weight: bold;
    font-size: 0.8em;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.selected-data button:hover,
.selected-data button:focus {
    background: #81c98f;
    border-radius: 6px;
    color: white;
}

.selected-data button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.selected data button:active {
    transform: scale(0.99);
}


/* BAR & DOUGHNUT CHART */
.widget-container h3 {
  float: left;
  margin-left: 20px;
  text-transform:uppercase;
  font-size: 1em;
  color: #8d8d8d;
}

.widget-container {
  border-top: solid rgba(224, 224, 224, .8) 1px;
  /*display: flex;*/
}

.widgets {
  /*width: 50%;*/
  /*display: inline-block;*/
}


/* SOCIAL MEDIA */

.social-stats h3, .message_settings h3, #new_members h3, #recent_activity h3{
  margin-left: 20px;
  text-transform:uppercase;
  font-size: 1em;
  color: #8d8d8d;
}


.social-media, .search_row, .members_activity, .message_settings {
  /*display: flex;*/
}



.social-stats {
  border-top: solid rgba(224, 224, 224, .8) 1px;
}


.media-box {
  /*display: inline-block;*/
  border: solid rgba(224, 224, 224, .8) 1px;
  /*width: 30%;*/
  margin: 10px;
  /*margin: 10px auto;*/
  background-color: #fbfbfb;
  padding:10px;
}

.media-box svg {
  float: left;
  background-color: #7477bf;
  border-radius: 50%;
  margin:5px;
  padding: 5px;
}

.media-box h3 {
  margin: auto;
  color:#6267bb;
}

.media-box span {
  font-size: 2em;
  font-weight: 200;
}


.media-info {
  float: right;
  margin-right: 100px;
  margin-top: 10px;

}


/*MEMBERS */


.members_activity img {
  border-radius: 50%;
  text-align: left;
  max-width: 15%;
}

.members_activity li {
  list-style-type: none;
  display: block;
}

.new_members li {
  margin-left: 10px;
}

.new_members li {
  margin-left: 20px;
}

.new_members ul, .members_activity ul {
  margin: 0;
  padding: 0;
}


.members_activity img {
  border-radius: 50%;
  text-align: left;
  max-width: 15%;
  padding: 5px;
  /*display: inline-block;*/
  margin: auto;
}


.members_activity {
  border-top: solid rgba(224, 224, 224, .8) 1px;
}

#new_members, #recent_activity {
  /*display: inline-block;*/
  /*width: 50%;*/
  text-align: left;
  margin-left: 20px;
  vertical-align: top;
}

#new_members li, #recent_activity li{
  /*display: inline-block;*/
  /*flex-direction: column;*/
  width: 100%;
  border-bottom: solid rgba(224, 224, 224, .8) 1px;
}

#new_members a {
  color: #7577bf;
}

#new_members a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#recent_activity li:last-of-type, #new_members li:last-of-type {
  margin-bottom: 10px;
}

#recent_activity li {
  padding-bottom: 4px;
}

 .name_email, .name_activity {
  /*flex-direction: column;*/
  /*display: inline-block;*/
  vertical-align: top;
  margin-top: 20px;
  margin-left: 10px;
}

#new_members span:nth-last-of-type(1){
  /*display: inline-block;*/
  vertical-align: top;
  width: 30%;
  margin-top: 40px;
  float: right;
  margin-right: 0;
}



/* MESSAGES & SETTINGS */
.message_settings {
  border-top: solid rgba(224, 224, 224, .8) 1px;
}

.message_user, .settings {
  width: 50%;
  margin-left: 20px;
}


.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}


#user_search, #user_message, .time_zones {
  background-color: #fbfbfb;
  width: 100%;
  margin: auto;
  padding: 5px;
  margin-bottom: 0;
  border-bottom: solid rgba(224, 224, 224, .8) 1px;
  border-radius: 5px;
}

 #user_message {
  min-height: 150px;
}


#send_btn {
  width: 100%;
  background-color: #7577bf;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

}

#save_btn {
  width: 46%;
  background-color: #7577bf;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 25px;
}

#cancel_btn {
  width: 46%;
  background-color: #cccccc;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.settings, #recent_activity {
  border-left: solid rgba(224, 224, 224, .8) 1px;
  padding-left: 25px;
}

.setting_1, .setting_2 {
  /*display: flex;*/
}

.setting_2 {
  margin-bottom: 15px;
}

.setting_1 p, .setting_2 p {
  /*display: inline-block;*/
  padding-left: 15px;
}

.setting_2 p {
  margin-right: 30px;
}

.time_zones{
  display: block;
  margin-bottom: 10px;
}

  /*SLIDER*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 20px;
  padding: 10px;
}

.switch span {
  padding:5px;
  color: white;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7577bf;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.setting_1, .setting_2{
  display: block;
}

/*Grid styles*/
header {
  background-color: #7477bf;
  position: relative;
}

nav {
  background-color: #4c4c72;
}

main {
  background-color: white;
}


/* media queries */

@media (min-width: 768px) {

    header ul {
      display: flex;
      float:right;
    }

    .widget-container {
      display: flex;
    }

    .social-media, .search_row, .members_activity, .message_settings {
      display: flex;
    }

    #new_members li, #recent_activity li{
      flex-direction: column;
      display: inline-block;
    }

    .name_email, .name_activity {
     flex-direction: column;
     display: inline-block;
   }

   .setting_1, .setting_2 {
     display: flex;
   }

   header ul li{
     display: inline-block;

   }

   header ul li:first-of-type::after{
     display: inline-block;
   }

   .search_row h3 {
     display: inline-block;

   }

   .selected-data li {
     display: inline-block;
   }

   .widgets {
     display: inline-block;
     width: 50%;
   }

   .media-box {
     display: inline-block;
     width: 30%;
     margin: 10px auto;
   }

   .members_activity img {
     display: inline-block;
   }

   #new_members, #recent_activity {
     display: inline-block;
     width: 50%;
   }


  #new_members span:nth-last-of-type(1){
    display: inline-block;
  }

  .setting_1 p, .setting_2 p {
    display: inline-block;
  }

  header ul li:nth-last-of-type(2){
  width:40%;
  }

  header img {
    max-width: 60%;
    margin-top: auto;
    margin-left: auto;
    float: none;
  }

  #dashboard {
    display:inline-block;
  }

  nav li {
    display: block;
    width: 70%;
  }

  .search_bar {
    margin-top: 0;
  }

  header ul li:first-of-type{
    float:none;
    padding:auto;
  }


}

@media (min-width: 1050px) {

}
